.right_block .p-brands-list-alphabet {
    margin: 0;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #c6c7cb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.right_block ul.p-brands-list-alphabet li {
    color: #d3d3d3;
    font-size: 16px;
    text-transform: uppercase;
    cursor: not-allowed;
    border-bottom: 1px solid #c6c7cb;
    padding: 12px 0 13px;
    margin: 0 0 -1px;
    width: 36px;
}

.right_block ul.p-brands-list-alphabet li a {
    text-decoration: underline;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

ul.p-brands-list-alphabet li:before,
ul.p-brands-char__list li:before {
    content: none;
}

.p-brands-list-chars {
    padding: 7px 0 0;
}

.p-brands-char {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 36px 0 53px;
    border-top: 1px solid #c6c7cb;
}

.p-brands-char:first-child {
    border: none;
}

.p-brands-char__label {
    font-size: 48px;
    font-weight: 300;
    height: 48px;
    width: 48px;
    line-height: 1;
    margin: 4px 0 0;
}

.p-brands-char__list {
    list-style: none;
    margin: 0 0 0 19px;
    overflow: hidden;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    padding: 0;
    width: 100%;
}

.right_block  .p-brands-char__list li {
    margin: 0 10px 10px 0;
    max-width: 220px;
    display: block;
    font-size: 16px;
    padding: 0;
}

@media (min-width: 1350px) {
    .right_block ul.p-brands-list-alphabet li:nth-child(28) {
        width: 54px;
    }
}

@media (max-width: 768px) {
    .p-brands-char {
        display: block;
        padding: 26px 0 53px;
    }

    .p-brands-char__list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .p-brands-char__label {
        margin: 4px 0 24px;
        padding: 0 0 0 10px;
    }

    .right_block  .p-brands-char__list li {
        margin-bottom: 8px;
    }
}