form {
    position: relative;
}

button {
    box-shadow: none !important;
}

.hero {
    padding-top: 200px;
}

.preloader {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(237, 237, 237, .6);
}

.accordion {
    position: relative;
}

.accordion-button.error {
    color: #842029;
    background-color: #f8d7da;
}

.accordion-button.success {
    color: #0f5132;
    background-color: #d1e7dd;
}

.accordion-close {
    position: absolute;
    top: 5px;
    right: -35px;
    cursor: pointer;
}